@charset "utf-8";

/*header*/
  /* 로고 */
.logo{
    position: absolute;
    top: 16px;
    left: 35px;
    z-index: 200;
}
.logo a{
    display: inline-block;
    width: 66px;
    height: 70px;
}
.logo a img{
    width: 100%;
}

  /* gnb 메뉴 */
.gnb{
    margin: -100px 0;
    padding: 0;
    position: fixed;
    bottom: 50%;
    right: 40px;
    z-index: 200;
}
.gnb li{
    clear: both;
    display: block;
}
.gnb a{
    background: url(../img/gnb_bg.png) no-repeat 50% 50%;
    color: rgba(0,0,0,0);
    display: block;
    float: right;
    font-size: 13px;
    height: 25px;
    width: 21px;
    line-height: 24px;
    margin-top: 15px;
    opacity: 0.6;
    text-align: right;
    text-decoration: none;
    transition: all 0.4s;
    position: relative;
}
.gnb a span{
    position: absolute;
    display: block;
    width: 130px;
    right: 30px;
}
.gnb a:hover, .gnb a.active{
    background-image: url(../img/gnb_hover_img.png);
    background-size: 100%;
    transform: scale(1.2);
    opacity: 1;
    color: #fff;
}
.gnb a.active{
    opacity: 1;
}



/* footer */

.footer{
    width: 100%;
    height: 100px;
    background: #54601e;
    color: #dfdfdf;
    font-size: 14px;
    padding: 17px 35px;
    box-sizing: border-box;
    overflow: hidden;
}
.f-left{
    float: left;
}
.f-left a{
    display: inline-block;
}
.f-center{
    float: left;
}
.f-center .copyright{
    margin-left: 80px;
    line-height: 66px;
}
.f-center .copyright a{
    color: #dfdfdf;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}
.f-center .copyright a:hover{
    color: #8fc02a;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}
.f-right{
    float: right;
    line-height: 66px;
}
.f-right a{
    display: inline-block;
    width: 44px;
    height: 44px;
    font-size: 28px;
    text-align: center;
    line-height: 44px;
    color: #6c7930;
    background: #444d18;
    border-radius: 5px;
    margin: 11px 13px 11px 0;
}
.f-right a:hover{
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    box-shadow: 0px 0px 20px 4px rgba(143,192,42,0.6);
    color: #fff;
}