/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button {
    margin:0;
    padding:0;
}
fieldset,img {
    border:0 none;
}
iframe{
    border: none;
}
dl,ul,ol,menu,li {
    list-style:none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,q:before, q:after {
    content:'';
    content:none;
}
input,select,textarea,button {
    vertical-align:middle;
}
button {
    border:0 none;
    background-color:transparent;
    cursor:pointer;
}
body {
    background:#fff
}
body,th,td,input,select,textarea,button {
    font-size:20px;
    line-height:1.5;
    font-family: 'Roboto Condensed', 'Noto Sans KR', sans-serif;
    font-weight: 400;
    color:#333;
} /* color값은 디자인가이드에 맞게사용 */

a {
    color:#333;
    text-decoration:none;
}
a:active, a:hover {
    text-decoration:none;
    cursor: pointer;
}
address,caption,cite,code,dfn,em,var {
    font-style:normal;
    font-weight:normal;
}


h2{
    text-align: center;
    font-family: 'Amatic SC', 'Noto Sans KR', cursive;
    color: #fff;
    font-size: 60px;
    padding-top: 75px;
}

/* 건너뛰기 링크(접근성) */
.skip-navi {
    position: absolute;
    left: 0;
    top: -50px;
    text-indent: -9999px;
    font-size: 0;
    width: 100%;
    z-index: 999;
}
.skip-navi a:focus, .skip-navi a:active{
    position: absolute;
    left: 0;
    top: 50px;
    display: block;
    width: 100%;
    padding: 5px 0;
    color: #fff;
    text-align: center;
    text-indent: 0;
    font-size: 14px;
    font-weight: bold;
    background: #6c7930;
}

.clear::after{
    content: "";
    display: block;
    clear: both;
}

/* margin-bottom */
.mb20{
    margin-bottom: 20px;
}
.mb60{
    margin-bottom: 60px;
}
.mb81{
    margin-bottom: 81px;
}